---
import { storyblokEditable } from "@storyblok/astro";
import { useStoryblokApi } from "@storyblok/astro";
import BlogItem from "../components/blog/BlogItem.astro";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories", {
  content_type: "blogPost",
  version: import.meta.env.DEV ? "draft" : "published",
});

const posts = data.stories.map((story: Story): Post => {
  return {
    title: story.content.title,
    date: new Date(
      story.published_at ? story.published_at : story.created_at
    ).toLocaleDateString("ko-KR", {
      year: "numeric",
      month: "numeric",
      day: "numeric",
    }),
    description: story.content.description,
    slug: story.slug,
    tags: story.tag_list,
  };
});

const { blok } = Astro.props;
---

<ul {...storyblokEditable(blok)}>
  {
    posts.map((post: Post) => (
      <li class="mb-12 md:mb-20">
        <BlogItem post={post} />
      </li>
    ))
  }
</ul>
