---
import { storyblokEditable, type SbBlokData } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
const { blok } = Astro.props as { blok: SbBlokData };
---

<main {...storyblokEditable(blok)}>
  {
    Array.isArray(blok.body) &&
      blok.body.map((blok) => {
        return <StoryblokComponent blok={blok} />;
      })
  }
</main>
