---
import "../assets/styles/tailwind.css";

import ApplyColorMode from "../components/common/ApplyColorMode.astro";
import BasicScripts from "../components/common/BasicScripts.astro";
import CustomStyles from "../components/CustomStyles.astro";
import Favicons from "../components/Favicons.astro";
---

<html lang="ko" class="2xl:text-[20px]">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>리카짱로그</title>
    <Favicons />
    <CustomStyles />
    <ApplyColorMode />
  </head>
  <body class="antialiased text-default bg-page tracking-tight">
    <slot />

    <BasicScripts />

    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
